<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color :#00FFB3;">Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">Send</ion-button>
      </ion-col>
    </ion-row>

    <small >
      <p style="text-align: center">
        Please provide the username or email<br> address that  you used when you<br> signed
      up for your account.
      </p>
      
    </small>
  </form>
</ion-content>