<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color :#00FFB3;">Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="email" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block" (click)="onSignin()">Sign In</ion-button>
        <p *ngIf="errorMessage.length > 0" class="" style="color:red;">{{errorMessage}}</p>
        <p *ngIf="error.message.length > 0" class="" style="color:red;">{{error.message}}</p>
        <a [routerLink]="['/forgot-password']" class="small-text" style="justify-content: center; display:flex; padding-top: 10px;">Forgot Password?</a>
      </ion-col>
    </ion-row>
  </form>

  <!-- fab placed to the bottom end -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" (click)="onSigninFacebook()">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-google" (click)="onSigninGoogle()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>