.button {
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 0.7px;
    border-radius: 100%;

  }

  .tablero{
    width:12.5%;
    height: 40px;
    background-color: rgb(0, 141, 31);
    border-style:solid;
    border-width: thin;
    border-color: black;
    align-items: center;
  }

  .mostrar{
    opacity: 1 !important;
    background-color: #ffffff;

  }
  .mostrarN{
    opacity: 1 !important;
    background-color: #201f1f;

  }

  .clpt{
    color: rgb(39, 230, 102);
  }

  .ptB{
    color: rgb(255, 255, 255);
  }
  .ptB{
    color: rgb(255, 255, 255);
  }

  .pText{
    color: rgb(255, 255, 255);
    width: 10ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 auto;
    margin-top: 10px;
    
  }

  h3{
    color: rgb(255, 255, 255);
  }
  

  .dot {
    height: 20px;
    width: 20px;
    background-color: rgb(0, 255, 76);
    border-radius: 50%;
    display: inline-block;
  }

  .dot2 {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

