<ion-header>
  <ion-toolbar>
    <ion-title>Othello epic VS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>

    <ion-col style='width:50%; text-align:center'>
      <ion-card text-center>
        {{actualPlayer}}
      </ion-card>
    </ion-col>

    <ion-col style='width:50%; text-align:center'>
      <ion-card text-center>
        {{secondPlayer}}
      </ion-card>
    </ion-col>

  </ion-row>


  <ion-grid>
    <ion-row no-padding>
      <ion-col *ngFor="let c of esto2; index as indexButton" class='tablero' (click)="jugada(indexButton)">
        <button id="{{'button' + indexButton}}" class="button"></button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>