.button {
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 0.7px;
    border-radius: 100%;

  }
  


  .tablero{
    
    width:12.5%;
    height: 40px;
    background-color: rgb(0, 141, 31);
    border-style:solid;
    border-width: thin;
    border-color: black;
    align-items: center;
  }