<ion-header>
  <ion-toolbar>
    <ion-title>Othello epic VS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>

    <ion-col style='width:50%;' >
      
      <ion-card style='text-align: center;'>

        <p class='clpt'> {{actualPlayer}}</p>
        <div style="clear: both">
          <div style="float: left; width: 40%;">Pts:</div>
          <h4 style="float: right; width: 40%;margin-top: 0%;">{{sc1}}</h4>
        </div>
      </ion-card>
    </ion-col>

    <ion-col style='width:50%;'>
      <ion-card style='text-align: center;'>
        <p class='clpt2'>{{secondPlayer}}</p>
        <div style="clear: both">
          <div style="float: left; width: 40%;">Pts:</div>
          <h4 style="float: right; width: 40%;margin-top: 0%;">{{sc2}}</h4>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-card style='text-align: center;'>
    <p >{{currentName}}</p>
  </ion-card>


  <ion-grid>
    <ion-row no-padding>
      <ion-col *ngFor="let c of esto2; index as indexButton"  class='tablero' (click)="jugada(indexButton)">
        <button  id="{{'button' + indexButton}}" class="button" style="opacity: 0;"></button>
        <div *ngIf="c == null; else paint(indexButton,c);"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>